<style>


.bottomnv li {
    display: inline-block;
    list-style-type: none;
}


.bottomnv li a {
    line-height: 11px;
    display: block;
    background: rgb(21, 21, 41) !important;
    border-radius: 10px 10px 10px 10px;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 4px 16px;
}

.bottomnv_active {
    border-bottom: 1px solid yellow!important;
    border-top: 1px solid yellow!important;
    border-left: none;
    border-right: none;
    text-transform: uppercase;
    color: yellow!important;
}

a {
    color: white;
    text-decoration: none;
}


.contactusbg:nth-child(1) a {
    position: relative;
    top: 12px;
    left: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

.contactusbg:nth-child(2) a {
    position: relative;
    top: 12px;
    left: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

.contactusbg:nth-child(3) a {
    position: relative;
    top: 12px;
    left: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

.contactusbg:nth-child(4) a {
    position: relative;
    top: 12px;
    left: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

.contactusbg:nth-child(5) a {
    position: relative;
    top: 12px;
    left: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

element.style {
    text-align: center;
    float: left;
    margin: 0px 5px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.col-lg-102 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-offset-125 {
    margin-left: 13.33333333%;
}

.col-xs-102 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-sm-offset-125 {
    margin-left: 8.33333333%;
}

.col-md-offset-125 {
    margin-left: 8.33333333%;
}

.yellowfoot {
    width: auto;
    padding: 0px 0px 0px;
}

footer#footer .footer-bottom .copyright {
    padding-top: 5px;
    text-align: center;
}

.bottomnv {
    width: auto;
}

.bottomnv .blacktp {
    list-style-type: none;
    overflow: hidden;
    width: 100%;
    text-align: center;
    margin: auto;
    padding-right: 55px;
}

.blog-posts ol, ul {
    color: #fff;
    line-height: 20px;
    padding: 0 25px;
    font-weight: 300;
}

.contactusbg:nth-child(1) {
    background: url(https://i.ibb.co/kDzcXsq/fb.png) no-repeat;
    width: 18%;
    height: 48px;
    background-size: 100%;
}

.contactusbg:nth-child(2) {
    background: url(https://i.ibb.co/k8G3TJD/twit.png) no-repeat;
    width: 18%;
    height: 48px;
    background-size: 100%;
}

.contactusbg:nth-child(3) {
    background: url(https://i.ibb.co/0s2tNFH/instagram1.png) no-repeat;
    width: 18%;
    height: 48px;
    background-size: 100%;
}

.contactusbg:nth-child(4) {
    background: url(https://i.ibb.co/qMvnqzq/bukti.png) no-repeat;
    width: 19%;
    height: 48px;
    background-size: 100%;
}

.contactusbg:nth-child(5) {
    background: url(https://i.ibb.co/pZhtDMT/yt.png) no-repeat;
    width: 18%;
    height: 48px;
    background-size: 100%;
}

</style>

</p><center><h2 style="text-shadow: 0px 0px 5px rgba(255, 255, 126, 1);color: #ffd500;">Bandar Togel & Casino Online Terpercaya</h2></center>

<p style="text-align: center;"><strong><span style="color: #ffcc00;">ZIENTOTO</span> merupakan situs agen bandar togel terpercaya yang sudah berdiri Sejak tahun 2014, kini kami telah hadir bagi kalian para pecinta judi togel online dan judi casino online yang memiliki 9 pasaran resmi togel terlengkap dan terpercaya diseluruh indonesia. Maka anda tidak perlu ragu lagi untuk bergabung dan bermain bersama kami situs judi online terpercaya yang akan membayar berapapun kemenangan anda. Hanya dengan 1 User ID anda sudah dapat memainkan semua permainan mulai dari togel sampai casino online yang pastinya seru dan menyenangkan. Bonus New member 20%, Bonus Deposit Harian 5%, Bonus Referral 1%, serta Bonus Cashback UP 10%, Selain itu juga kami memiliki Discount atau potongan harga setiap anda melakukan bettingan angka togel di zientoto seperti 2D Discount 29%, 3D Discount 58%, 4D Discount 66%.

<img class="size-full wp-image-546 aligncenter" src="https://i.ibb.co/4gqZCQQ/BAWAH.png" alt="" width="879"height="72"></strong></p>

<center>

<section class="yellowfoot">
    <div class="container">
      <div class="row">

<div class="col-xs-102 col-lg-102 col-sm-10 col-md-10 col-lg-offset-126 col-md-offset-125 col-sm-offset-125 
col-xs-offset-125" style="margin-bottom: 5px;margin-top: 10px;">
    <div class="contactusbg loremone" style="text-align: center; float: left;margin: 0px 5px;"><a 
href="https://www.facebook.com/groups/prediksigilatoto" target="_blank" style="text-decoration: 
none;">ZIENTOTO </a></div>
    <div class="contactusbg loremone" style="text-align: center; float: left;margin: 0px 5px;"><a 
href="https://twitter.com/zientoto" target="_blank" style="text-decoration: none;">ZIENTOTO </a></div>
    <div class="contactusbg loremone" style="text-align: center; float: left;margin: 0px 5px;"><a 
href="https://www.instagram.com/cs.zientoto/" target="_blank" style="text-decoration: 
none;">ZIENTOTO</a></div>
    <div class="contactusbg loremone" style="text-align: center; float: left;margin: 0px 5px;"><a 
href="https://syairmbah.asia/" target="_blank" style="text-decoration: none;">PREDIKSI TOGEL</a></div>
	<div class="contactusbg loremone" style="text-align: center; float: left;margin: 0px 5px;"><a 
href="https://www.youtube.com/channel/UCAATuTn4PnUYS52ZXKwPiqA" target="_blank" style="text-decoration: 
none;">ZIENTOTO </a></div>
</div>
        <div class="bottomnv">
          <ul class="blacktp">
              <li><a class="bottomnv_active" href="http://zientoto77.com/">Home</a></li>
	    <li><a href="http://zientoto77.com/promotion.php">Promosi</a></li>
            <li><a href="http://zientoto77.com/how-to-play.php">Cara Bermain</a></li>
            <li><a href="http://zientoto77.com/hasil_lengkap.php">histori nomor</a></li>
            <li><a href="http://zientoto77.com/bukumimpi.php">buku mimpi</a></li>
            <li><a href="http://zientoto77.com/support2.php">bantuan</a></li>
            <li><a href="http://zientoto77.com/inforeferral.php">refferal</a></li>
            <li><a href="http://zientoto77.com/register.php">daftar</a></li>
            <div class="clearfix"></div>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </section>
            <p></p>
          </center></div>
        </div>