<style>

.panel-blue {
background: linear-gradient(to bottom, #00000000) !important
}

    @media screen and (max-width: 1200px) {
        .results {
            border: solid 1px #952531 !important;
            background-color: rgba(0, 0, 0, 0.55) !important;
            width: 49% !important;
            display: inline-block !important;
            border-radius: 15px 2px 15px 5px !important;
            margin-bottom: 0 !important;
        }

.pool-name {
    color: #f0ad31!important;
    width: 100%!important;
    font-size: 14px!important;
    font-style: oblique;
    font-weight: 700!important;
    text-align: center!important;
    border-bottom: 2px solid #f0ad31!important;
}
        
.pool-date {
    font-size: 13px!important;
    margin-left: 0!important;
    padding-top: 0!important;
    text-align: center!important;
    display: block!important;
    color: #f0ad31!important;
}

.pool-result {
    color: #f0ad31!important;
    text-align: center!important;
    width: 100%!important;
    font-size: 20px!important;
    line-height: 1.0!important;
    float: none!important;
}

.results {
    border: solid 2px #f0ad31!important;
    background: transparent !important;
    border-radius: 15px 2px 15px 5px !important;

}

.results-detail {
    width: 100%;
    display: inline-block;
    background: transparent;
    padding: 5px 15px;
    color: #000000;
    /* border: 1px solid ##fefffc; */
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 7px;
}

       
</style>
